@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(to right,#D3B8AA, #F7F8F8) ;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #b0cf94;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#588450;
    text-align: center;
    text-shadow: 1px 1px 3px #223220;
}

h2{
    color:#d99133;
}

p {
    text-align: justify;
}